<h1>Hello World</h1>
<ul>
<% @articles.each do |article| %>
	<li><%= link_to article.title, article_path(article) %></li>
<% end %>
</ul>

<%= link_to "New Article", new_article_path, :class=> "new_article" %>