<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "Delete This Article", article_path, :method => :delete, :confirm => "Delete '#{@article.title}'?" %>

<%= link_to "Edit", edit_article_path(@article) %>